    <ul id="navbar-factions" class="nav nav-pills nav-justified hidden-xs">
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'knight'}) }}" class="influence-anarch background-anarch-hover"><span class="icon icon-anarch"></span> <span class="hidden-sm">Knight</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'sorcerer'}) }}" class="influence-criminal background-criminal-hover"><span class="icon icon-criminal"></span> <span class="hidden-sm">Sorcerer</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'wizard'}) }}" class="influence-shaper background-shaper-hover"><span class="icon icon-shaper"></span> <span class="hidden-sm">Wizard</span></a></li>
    </ul>
    <ul id="navbar-factions" class="nav nav-pills nav-justified hidden-xs">
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'archmage'}) }}" class="influence-haas-bioroid background-haas-bioroid-hover"><span class="icon icon-haas-bioroid"></span> <span class="hidden-sm hidden-md">Archmage</span><span class="hidden-sm hidden-lg">HB</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'enchantress'}) }}" class="influence-jinteki background-jinteki-hover"><span class="icon icon-jinteki"></span> <span class="hidden-sm">Enchantress</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'errant'}) }}" class="influence-nbn background-nbn-hover"><span class="icon icon-nbn"></span> <span class="hidden-sm">Errant</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'illusionist'}) }}" class="influence-criminal background-criminal-hover"><span class="icon icon-criminal"></span> <span class="hidden-sm">Illusionist</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'invoker'}) }}" class="influence-weyland-consortium background-weyland-consortium-hover"><span class="icon icon-weyland-consortium"></span> <span class="hidden-sm">Invoker</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'saint'}) }}" class="influence-shaper background-shaper-hover"><span class="icon icon-shaper"></span> <span class="hidden-sm">Saint</span></a></li>
    </ul>
